@keyframes moveBars1 {
  from {
    left: 975px;
  }

  to {
    left: -725px;
  }
}

@keyframes moveBars2 {
  from {
    left: -725px;
  }

  to {
    left: -1725px;
  }
}

@keyframes moveBars3 {
  from {
    left: -1725px;
  }

  to {
    left: -3725px;
  }
}
/* musi byc jeden klocek z roznymi predkosciami */

.bars {
  position: absolute;
  width: 160000px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 20;
}

.firstLevel {
  animation-name: moveBars1;
  animation-duration: 50.99s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.secondLevel {
  animation-name: moveBars2;
  animation-duration: 23.99s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.thirdLevel {
  animation-name: moveBars3;
  animation-duration: 36s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.bar {
  width: 50px;
  height: 130px;
  margin: 0 25px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
