.container {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: tomato;
  border: 1px solid black;
  position: relative;
}

.intervalId {
  color: black;
  font-size: 20px;
}

.container__game {
  position: relative;
  display: flex;
  top: 100px;
  height: 400px;
  margin: auto;
  flex-direction: column;
  justify-content: flex-end;
  width: 1000px;
  overflow: hidden;
  background-color: #28dad4;
  font-family: "Roboto", sans-serif;
}
.ex1 {
  position: absolute;
  z-index: 15;
  background-color: rebeccapurple;
  width: 1000px;
  height: 220px;
  bottom: 280px;
}
.ex {
  position: absolute;
  z-index: 14;
  background-color: blue;
  height: 150px;
  width: 500px;
  bottom: 130px;
}
